@model MVC.Models.TaskModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
@{ 
    var item = ViewBag.task;
}
<h1>Görev düzenle</h1>
<hr />
<div class="row">
    <div class="col-md-4">

        @using (var form = Html.BeginForm("Update", "Tasks", FormMethod.Post))
        {
            @Html.LabelFor(t => t.Header)
            <br />
            @Html.TextBoxFor(t => t.Header, new { @placeholder = @item.Header ,@class = "form-control"})
            @Html.ValidationMessageFor(t => t.Header, null, new { @class = "text-danger" })
            <br />
            @Html.LabelFor(t => t.Description)
            <br />
            @Html.TextBoxFor(t => t.Description, new { @placeholder = @item.Description.ToString(), @class = "form-control" })
            @Html.ValidationMessageFor(t => t.Description, null, new { @class = "text-danger" })
            <br />
            @Html.LabelFor(t => t.Date)
            <br />
            @Html.TextBoxFor(t => t.Date, string.Format("{0:dd.MM.yyyy}", Model), new { @placeholder = @item.Date.ToString("d"), @class = "form-control date-picker" })
            @Html.ValidationMessageFor(t => t.Date, null, new { @class = "text-danger" })
            <br />
            @Html.LabelFor(t => t.Time)
            <br />
            @Html.TextBoxFor(t => t.Time, string.Format("{0:HH:mm}", Model), new { @placeholder = @item.Time.ToString(), @class = "form-control" })
            @Html.ValidationMessageFor(t => t.Time, null, new { @class = "text-danger" })

            @if (ViewBag.Result != null)
            {
                <div class="alert alert-success"> Güncelleme başarılı!</div>


            }
            <input type="submit" value="Güncelle" class="btn btn-success;" style="margin:20px;" />
            
        }



    </div>
</div>

<div>
    <label>Bu görevi silmek istermisiniz? <a class="btn btn-danger;" style="margin:20px;" href="/Tasks/Delete/@item.Id">Sil</a></label>
</div>